* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-header {
  height: 12.5rem;
}

button {
  color: white;
  background-color: #00aeee82;
  border-radius: 3px;
  border: none;
  width: 12.5rem;
  height: 3.12rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1.87rem;
}

button:hover {
  background: #00adee;
  transition: background 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body {
  height: 100vh;
}

.caixa-mae {
  display: flex;
  align-items: safe;
  justify-content: baseline;
  height: 100vh;
  color: white;
  margin-top: 10rem;

  padding: 10rem 3%;
  max-width: 1600px;
  margin: 10rem auto;
}

.caixa-principal {
  width: 50%;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.caixa-principal h2 {
  color: #00adee;
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

.caixa-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.mascara {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    -100deg,
    rgba(10, 12, 16, 0.162) 15%,
    rgba(3, 21, 57, 0.548) 50%,
    rgba(10, 12, 16, 0.959) 85%
  );
  position: fixed;
  top: 0;
}

.link-whatsapp i {
  font-size: 50px;
  color: white;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  transition: color 0.3s ease-in-out;
}

.link-whatsapp i:hover {
  color: #00aeee82;
}

.header {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin: 1.8rem;
}

.header img {
  height: 3.75rem;
}

.header a {
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  text-decoration: none;
}

.header a:hover {
  color: #00adee;
  font-size: 1.8rem;
  transition: color 1s ease-in-out, font-size 1s ease-in-out;
}

.logo-mobile {
  display: none; /* Esconde a imagem por padrão */
  width: 50px; /* Ajuste o tamanho conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
  margin: 0 auto; /* Centraliza a imagem horizontalmente */
}

.formulario-fale-conosco {
  background-color: rgba(255, 255, 255, 0.938);
  display: flex;
  gap: 1.25rem;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: -300px;
  padding: 1.25rem;
  border-radius: 0.5rem;
  transition: left 1s ease-in-out;
  z-index: 4;
}

input {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  padding-left: 0.3rem;
  outline-color: #00adee;
}

textarea {
  width: 16rem;
  height: 6.25rem;
  border-radius: 0.5rem;
  border: 1px solid gray;
  padding-left: 0.3rem;
  outline-color: #00adee;
}

.mascara-formulario {
  visibility: hidden;
  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: linear-gradient(
    109deg,
    rgba(10, 12, 16, 0.99) 15%,
    rgba(10, 12, 16, 0.7) 50%,
    rgba(10, 12, 16, 0.99) 85%
  );
  transition: visibility 1s ease-in-out;
}

.logo-mobile-container {
  display: none;
}

.video-mobile {
  display: none;
}
/* SOBRE.HTML*/

.accordion-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  width: 100%;
  max-width: 800px;
  margin-top: 10vh;
}

.accordion {
  background-color: #00aeeea8;
  border-radius: 10px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom: 10px;
}

.accordion:hover {
  background-color: rgba(3, 21, 57, 0.516);
  transition: 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.accordion h2 {
  color: white;
}

.accordion-header {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.accordion-header i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  transition: transform 0.3s ease;
  margin-left: auto;
}

.accordion.active .accordion-header i {
  transform: translateY(-50%) rotate(180deg);
}

.accordion-content {
  margin-top: 10px;
  padding: 20px;
  background: rgba(3, 21, 57, 0.516);
  border-radius: 10px;
  display: none;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: max-height 0.2s ease-out;
}

.accordion.active .accordion-content {
  display: block;
}

.accordion-content p {
  color: white;
  font-size: 1.2rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.redes-sociais a {
  padding: 25px;
  display: inline-block;
  font-size: 40px;
  color: white;
}

.redes-sociais a:hover {
  color: #00adee;
  transition: 1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.redes-sociais a:last-child {
  margin-right: 0;
}
/* CATALOGO*/
.color-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.carousel-navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.carousel-arrow {
  cursor: pointer;
  font-size: 3rem;
  color: white;
  user-select: none;
}

.carousel-arrow:hover {
  color: #00adee;
}

.carousel-container {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin-bottom: 0px;
}

.carousel {
  display: flex;
  transition: transform 2s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.carousel-item h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 10px;
}
.carousel-item p {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bike-img {
  width: 70%;
  height: auto;
}

.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  border: 2px solid white;
  position: relative;
}

.color-circle.duas-cores::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: black;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.preta-vermelha {
  background: linear-gradient(90deg, #000 50%, red 50%);
}

.preta-amarela {
  background: linear-gradient(90deg, #000 50%, #ffeb3b 50%);
}

.preta-azul {
  background: linear-gradient(90deg, #000 50%, #1b19ff 50%);
}

.preta-chumbo {
  background: linear-gradient(90deg, #000 50%, #3b3b3b 50%);
}

.preta-laranja {
  background: linear-gradient(90deg, #000 50%, #f77d34 50%);
}

.preta-rosa {
  background: linear-gradient(90deg, #000 50%, #ff008b 50%);
}

.preta-verde {
  background: linear-gradient(90deg, #000 50%, #00d500 50%);
}

.color-circle:hover,
.color-circle.selected {
  border-color: #000;
}

.carousel-button {
  text-decoration: none;
  padding: 10px 20px; /* Ajuste o padding conforme necessário */
  background-color: #00aeee90;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle; /* Centraliza verticalmente */
  display: inline-flex; /* Faz com que o botão seja inline e flex */
  align-items: center; /* Centraliza verticalmente dentro do flex container */
  justify-content: center; /* Centraliza horizontalmente dentro do flex container */
  box-sizing: border-box; /* Inclui padding e border no tamanho total do botão */
  transition: background-color 0.3s ease;
}

.carousel-button:hover {
  background-color: #00adee;
}

.nav-links a {
  margin-left: 30px; /* Adicione uma margem inferior aos links */
}

.hidden {
  display: none;
}
.container {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 769px) {
  .redes-sociais {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    padding: 1px 0;
    z-index: 1000;
  }
  .redes-sociais a {
    padding: 7px 7px;
    font-size: 30px;
    color: white;
  }
  .redes-sociais a:hover {
    color: #00adee;
    transition: color 0.3s ease;
  }

  .accordion-container {
    padding-bottom: 80px; /* Ajuste o padding inferior conforme necessário */
  }

  .container {
    padding: 0 20px;
  }

  .accordion-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    width: 100%;
    max-width: 800px;
    margin-top: 20vh;
  }
  body {
    width: 100%;
    height: 100%;
  }

  .logo-mobile-container {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 18px;
    top: 0;
    z-index: 10;
  }

  .menu-icon {
    display: block;
    position: absolute;
    left: 1.6rem;
    top: 20px;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 1000;
    z-index: 10;
  }

  .caixa-mae {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: white;
    margin-top: 17rem;
  }

  .caixa-principal {
    width: 100%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
  }

  .header {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .logo-mobile {
    display: block;
    width: 50%;
    height: auto;
  }

  .logo-desktop {
    display: none;
  }

  .video-desktop {
    display: none;
  }

  .video-mobile {
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 60px;
    left: 10px;
    background-color: #00aeee90;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
  }

  .nav-links.show {
    display: flex;
  }

  .header a {
    font-size: 20px;
  }

  button {
    align-self: center;
  }

  .link-whatsapp {
    display: none;
  }

  .mascara {
    background: linear-gradient(
      109deg,
      rgba(10, 12, 16, 0.162) 15%,
      rgba(28, 42, 72, 0.615) 50%,
      rgba(10, 12, 16, 0.99) 85%
    );
  }

  .carousel-container {
    position: relative;
    width: 100%;
    margin-top: 0px;
  }

  .carousel {
    display: flex;
  }

  .carousel-item {
    margin-top: 40%;
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 2rem;
    background: rgba(255, 255, 255, 0.363);
    margin-bottom: 10px;
  }

  .carousel-item h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: 30px;
  }
  .carousel-item p {
    margin-top: 15px;
    font-size: 1rem;
  }
  .bike-img {
    max-width: 100%;
    height: auto;
  }

  .carousel-navigation {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .carousel-button {
    width: 95%;
    background-color: rgba(255, 255, 255, 0.39);
    font-size: 1.4rem;
    margin-bottom: 12%;
  }
  .carousel-arrow {
    font-size: 3rem;
  }

  .color-options {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .color-circle {
    width: 25px;
    height: 25px;
    margin: 5px;
  }

  .color-circle.selected {
    border-width: 2px;
  }
}
